@font-face {
    font-family: Peace Sans;
    src: url(fonts/peace_sans.otf);
}

.xd {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
}

.error {
    color: red;
    font-size: 15px;
}

.titulo {
    text-decoration: underline;
}

.creditos {
    margin-top: 20px;
}

img{
    width: 250px;
    height: 83px;
}

body {
    height: 100%;
    font-family: Peace Sans;
    background-image: url(imgs/blue_sea.jpg);
    background-repeat: no-repeat;
}

h2 {
    color: aliceblue;
    font-size: 40px;
}

h3 {
    color: aliceblue;
    font-size: 25px;

}

p {
    margin: 0;
}

input.ball {
    width: 56px;
    height: 58px;
    background-image: url(imgs/bnumber_bg.png);

}

input.superball {
    color: aliceblue;
    width: 56px;
    height: 61px;
    background-image: url(imgs/bnumber_bg_super.png);
}

input.ball,
input.superball {
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;

}

input.ball:focus,
input.superball:focus {
    outline-color: transparent;
    outline-style: none;
}

.elemBall {
    margin-right: 20px;
    display: inline-block;
}

.btn-verf {
    background-color: #2a425c;
    color: aliceblue;
    border-radius: 20px;
    display: block;
    width: 140px;
    margin: 5px auto 0px auto;

}

button.btn-verf:hover {
    color: yellow;
}

.valor-acumulados {
    text-align: center;
}

.acumulado-baloto {
    padding-left: 50px;
}

.acumulado-revancha {
    padding-right: 50px;
}

.row {
    display: ;
}
